
.contact-form {
    background-color: #c8102e;  
    color: #fff;
    padding: 30px;
    margin-top: 20px;  
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;  
}


.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #c8102e;  
}

.contact-form button {
    background-color: #fff;
    color: #c8102e;  
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #1d3557;
    color: #fff;
}


.contact-image {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

